# Gradle
.gradle/
gradle/
gradlew
gradlew.bat

# Android Studio
.idea/
*.iml
captures/

# Eclipse
.classpath
.project
.settings/
bin/
gen/

# Vim
.sw[po]
.*.sw[po]

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Output folder
out/

local.properties
